@use "../../responsive.scss" as *;

.profile {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow-y: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-bottom: 50px;
    height: 100%;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
      overflow: hidden;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 400;
        }

        button {
          padding: 12px 24px;
          background-color: var(--color-accent);
          cursor: pointer;
          border: none;
          color: white;
          font-family: "Be Vietnam Pro", sans-serif;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        img {
          width: 36px;
          height: 36px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    background-color: var(--color-bg-secondary);
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
      overflow: hidden;
    }

    .wrapper {
      padding: 0 20px;
      height: 100%;
    }
  }
}